In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')
np.random.seed(42)
values = np.random.rand(100)
labels = []
for i in values[:50]:
    if i <=0.5:
        labels.append('Class1')
    else:
        labels.append('Class2')
labels += [None] * 50
print(labels)

['Class1', 'Class2', 'Class2', 'Class2', 'Class1', 'Class1', 'Class1', 'Class2', 'Class2', 'Class2', 'Class1', 'Class2', 'Class2', 'Class1', 'Class1', 'Class1', 'Class1', 'Class2', 'Class1', 'Class1', 'Class2', 'Class1', 'Class1', 'Class1', 'Class1', 'Class2', 'Class1', 'Class2', 'Class2', 'Class1', 'Class2', 'Class1', 'Class1', 'Class2', 'Class2', 'Class2', 'Class1', 'Class1', 'Class2', 'Class1', 'Class1', 'Class1', 'Class1', 'Class2', 'Class1', 'Class2', 'Class1', 'Class2', 'Class2', 'Class1', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [2]:
data = {
"Point": [f"x{i+1}" for i in range(100)],
"Value": values,
"Label": labels
}
df = pd.DataFrame(data)
df.head(10)

  Point     Value   Label
0    x1  0.374540  Class1
1    x2  0.950714  Class2
2    x3  0.731994  Class2
3    x4  0.598658  Class2
4    x5  0.156019  Class1
5    x6  0.155995  Class1
6    x7  0.058084  Class1
7    x8  0.866176  Class2
8    x9  0.601115  Class2
9   x10  0.708073  Class2

In [3]:
df.tail(10)

   Point     Value Label
90   x91  0.119594  None
91   x92  0.713245  None
92   x93  0.760785  None
93   x94  0.561277  None
94   x95  0.770967  None
95   x96  0.493796  None
96   x97  0.522733  None
97   x98  0.427541  None
98   x99  0.025419  None
99  x100  0.107891  None

In [4]:
df.nunique()

Point    100
Value    100
Label      2
dtype: int64

In [5]:
print("\nMissing Values in Each Column:")
df.isnull().sum()

Missing Values in Each Column:

Point     0
Value     0
Label    50
dtype: int64

In [6]:
labeled_df = df[df["Label"].notna()]
X_train = labeled_df[["Value"]]
y_train = labeled_df["Label"]
unlabeled_df = df[df["Label"].isna()]
X_test = unlabeled_df[["Value"]]
true_labels = ["Class1" if x <= 0.5 else "Class2" for x in
values[50:]]
k_values = [1, 2, 3, 4, 5, 20, 30]
results = {}
accuracies = {}
for k in k_values:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    predictions = knn.predict(X_test)
    results[k] = predictions
    accuracy = accuracy_score(true_labels, predictions) * 100
    accuracies[k] = accuracy
    print(f"Accuracy for k={k}: {accuracy:.2f}%")
    unlabeled_df[f"Label_k{k}"] = predictions

Accuracy for k=1: 100.00%
Accuracy for k=2: 100.00%
Accuracy for k=3: 98.00%
Accuracy for k=4: 98.00%
Accuracy for k=5: 98.00%
Accuracy for k=20: 98.00%
Accuracy for k=30: 100.00%